body{
    background-image: url(https://esports.as.com/2019/04/09/league-of-legends/skins-Invictus-Gaming-convierten-figuritas_1234686525_144882_1090x600.jpg);
    background-repeat: no-repea;
    background-size: 100%;
    margin:1;
    margin: 0px;
}
#irelia-invictus{
    width: 320px;
    height: 240px;  
    background-color: darken($color: #0ff0f0, $amount: 10); 
}
.tabla{
    border: 1px solid #0fff00;
    width: 60%;
    height: 160px; 
}

